* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* main setup */
body {
    background-color: bisque;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .row {
    margin-top: 5rem;
}

/* utilities */
h1 {
    padding: 2rem 0;
    font-size: 3rem;
}

.container p {
    font-size: 1.5rem;
}

.card h2 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
}

.card p {
    margin-bottom: 1.5rem;
}

/* card settings */
.card {
    width: calc(100% / 3 - 13.4px);
    background-color: white;
    border-radius: 20px;
    color: rgb(110, 95, 76);
    margin-bottom: 3rem;
}

/* img setting */
img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}